@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

@layer base {
  body {
    @apply bg-obsidian text-white antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f10; 
}

::-webkit-scrollbar-thumb {
  background: #2a2a2d; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3B82F6; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* FIX DATE PICKER ICONS (Make them white/dark-mode friendly) */
input[type="date"],
input[type="datetime-local"],
input[type="time"] {
  color-scheme: dark;
}